<h1>Welcome</h1>

<h3>Budget Tracker App</h3>

<%= image_tag("budgetlogo200.png") %>

<h4>Welcome to your personal budget tracker</h4>

<h5>Keep track or your spending and budgeting</h5>

<button>Login</button>
<button>Register</button>

